@model StarWars.Characters.Models.CharacterVM

@{
    ViewData["Title"] = "Подробнее";
}
<style>
    h1{
        color:white;
    }
    
    a{
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: red;
        text-decoration: none;
    }

    .myIcon {
        height: 30px;
        width: 30px;
    }

    .myImg{
        height: 200px;
        width: 300px;
        margin-top:20px;
        margin-bottom:20px;
    }

    ::-webkit-input-placeholder {
        font-style: italic;
    }
</style>


<div class="container">
    <h1><strong>@Model.Name</strong></h1>
    <img src="@Model.ImageUrl" alt="@Model.Name" class="myImg" />
    <dl class="row text-white">
        <dt class = "col-sm-2">
            Дата рождения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            Планета
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Planet)
        </dd>
        <dt class = "col-sm-2">
            Пол
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            Раса
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class = "col-sm-2">
            Рост
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            Цвет волос
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairColor)
        </dd>
        <dt class = "col-sm-2">
            Цвет глаз
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EyeColor)
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Фильмы
        </dt>
        <dd class="col-sm-10">
            @foreach (var movie in Model!.Movies!)
            {
                <div>
                    @movie
                    <hr />
                </div>
            }
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-light">Редактировать</a>
        <a asp-action="Index" class="btn btn-outline-light">Назад к списку</a>
    </div>
</div>

